<div class="row">
	<div class="col-sm-12">
		<div class="black-wrapper text-center">
			Endereço: Estrada Guandu do Sapê,<br>
			número 1.467 - Campo Grande - Rio de Janeiro - RJ<br>
			Tel:. {{tel[0]}} ID:. {{tel[1]}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="black-wrapper" id="contact-wrapper">
			<h1 class="text-center h5">
				DÚVIDAS, SUGESTÕES E PERGUNTAS
			</h1>
			<form role="form" ng-submit="sendMail()" name="contactform" id="contactform">
				<div class="form-group">
					<label for="name">NOME</label>
					<input type="text" placeholder="Nome" class="form-control" id="name" ng-model="contact.name" required>
				</div>
				<div class="form-group">
					<label for="email">E-MAIL</label>
					<input type="email" placeholder="Email" class="form-control" id="email" ng-model="contact.mail" required>
				</div>
				<div class="form-group">
					<label for="telefone">TELEFONE</label>
					<input type="tel" placeholder="Telefone" class="form-control" id="telefone" ng-model="contact.tel" required>
				</div>
				<div class="form-group">
					<label for="assunto">ASSUNTO</label>
					<input type="text" placeholder="Assunto" class="form-control" id="assunto" ng-model="contact.subject" required>
				</div>
				<div class="form-group">
					<label for="message">MENSAGEM</label>
					<textarea id="message" placeholder="Mensagem" class="form-control" rows="3" ng-model="contact.msg" required></textarea>
				</div>
				<button type="submit" class="btn btn-default" ng-disabled="sending || contactform.$invalid">{{(sending || contactform.$invalid)? 'Todos os campos são obrigatórios' : 'Enviar'}}</button>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="text-center horario-funcionamento-banner">
			<h3 class="h4">HORÁRIO DE FUNCIONAMENTO</h3>
			<span>
				DE SEGUNDA A SEXTA DE 8:00 ÀS 18:00H<br>
				SÁBADO DE 8:00H ÀS 14:00H
			</span>
		</div>
	</div>
</div>
