<div class="row">
	<div class="col-sm-12">
		<div class="black-wrapper banner-central">
			<h2 class="h4 nomargin">VENDA DE AUTO PEÇAS <span class="montadoras"></span></h2>
			<span>
				Os melhores fornecedores para garantir a qualidade do seu produto
			</span>
			<img class="img-responsive" src="assets/peça.png">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="black-wrapper banner-central">
			<h2 class="h4 nomargin">ENTREGA</h2>
			<span>
				Levamos o produto até você o mais rápido possível.
			</span>
			<img class="img-responsive" src="assets/entrega.png">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="black-wrapper banner-central">
			<h2 class="h4 nomargin">FORMAS DE PAGAMENTO <span class="credit-cards"></span></h2>
			<span>
				Ficou sem dinheiro? Sem problemas, aceitamos cartões.
			</span>
			<img class="img-responsive" src="assets/cartao.png">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="text-center horario-funcionamento-banner">
			<h3 class="h4">HORÁRIO DE FUNCIONAMENTO</h3>
			<span>
				DE SEGUNDA A SEXTA DE 8:00 ÀS 18:00H<br>
				SÁBADO DE 8:00H ÀS 14:00H
			</span>
		</div>
	</div>
</div>