<div class="row">
	<div class="col-sm-12">
		<div class="black-wrapper text-center">
			Endereço: Estrada Guandu do Sapê,<br>
			número 1.467 - Campo Grande - Rio de Janeiro - RJ<br>
			Tel:. {{tel[0]}} ID:. {{tel[1]}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="black-wrapper" id="contact-wrapper">
			<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d3675.9820633682493!2d-43.56299135302265!3d-22.877120980562935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!1i0!3e6!4m0!4m5!1s0x9be3d65e95df07%3A0x7b3ce4a66e452fc5!2sEstr.+Guand%C3%BA+do+Sap%C3%A9%2C+1268+-+Campo+Grande%2C+Rio+de+Janeiro+-+RJ!3m2!1d-22.8775434!2d-43.5628745!5e0!3m2!1spt-BR!2sbr!4v1426957044434" width="100%" height="450" frameborder="0" style="border:0"></iframe>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="text-center horario-funcionamento-banner">
			<h3 class="h4">HORÁRIO DE FUNCIONAMENTO</h3>
			<span>
				DE SEGUNDA A SEXTA DE 8:00 ÀS 18:00H<br>
				SÁBADO DE 8:00H ÀS 14:00H
			</span>
		</div>
	</div>
</div>