<div class="row text-center">
	<div class="col-sm-12">
		<div class="grey-wrapper">
			<h1 class="h4">SERVICOS</h1>
			<span>
			Oferecemos a mais alta qualidade em acessórios, lanternas e acabamentos para carros nacionais e importados.<br>
			Equipe de vendas preparada para prestar sempre o melhor atendimento.
			</span>
		</div>
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-12">
		<img src="assets/homeimg.png" alt="" class="container-fluid img-responsive">
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-12">
		<div class="grey-wrapper">
			<h1 class="h4">QUEM SOMOS</h1>
			<span>Somos uma empresa do setor de peças de reposição automotiva.<br>
			Trabalhamos com peças nacionais e importadas, originais de fábrica e primeira de qualidade. Nossa equipe de funcionários é constatemente treinada para prestr o melhor atendimento.<br>
			Visamos sempre o interesse de nosso bem maior: o cliente.
			Disponibilizamos o serviço de entrega.
			Aqui você encontra confiabilidade, qualidade, segurança e respeito ao consumidor.
			Venha nos conhecer e fazer parte da nossa lista de amigos e cliente.</span>
		</div>
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-12">
		<div class="grey-wrapper">
		<h2 class="h4">PRODUTOS</h2>
			<span>
			Trabalhamos com acessórios, arrefecimento, câmbio, coxim de amortecedor, direção, elétrica, ferramenta, freio, motor, suspensão e transmissão.
			</span>
		</div>
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-12">
		<div class="text-center horario-funcionamento-banner">
			<h3 class="h4">HORÁRIO DE FUNCIONAMENTO</h3>
			<span>
				DE SEGUNDA A SEXTA DE 8:00 ÀS 18:00H<br>
				SÁBADO DE 8:00H ÀS 14:00H
			</span>
		</div>
	</div>
</div>