<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Venâncio Auto Peças</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="dist/css/bootstrap.css" rel="stylesheet">
		<link href="dist/css/bootstrap-theme.css" rel="stylesheet">
		<base href="/">
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body data-ng-app="Website">
		<div id="banner-wrapper">
			<img class="img-responsive" src="assets/banner.png" alt="banner">
		</div>
		<hr id="nav-limiter">
		<div class="container-fluid ">
			<div class="row">
				<div class="col-sm-3 nopadding">
					<nav>
						<ul class="nav nav-pills navbar-inverse nav-stacked text-center">
							<li><a href="/">HOME</a></li>
							<li><a href="/servicos">SERVIÇOS</a></li>
							<li><a href="/localizacao">LOCALIZAÇÃO</a></li>
							<li><a href="/contato">CONTATO</a></li>
						</ul>
					</nav>
					<div class="banner-lateral hidden-xs">
						<img src="assets/marcas/lukx.jpg" alt="" class="img-responsive">
						<img src="assets/marcas/skft.jpg" alt="" class="img-responsive">
						<img src="assets/marcas/heliar.jpg" alt="" class="img-responsive">
					</div>
				</div>
				<div class="col-sm-9 content" data-ng-view></div>
			</div>
		</div>
		<footer class="containeer-fluid text-center">
			<a href="https://www.facebook.com/venancioautopecas" class="social fb"></a>
			<a href="https://plus.google.com/102056958263381355998" class="social gplus"></a>
			<a href="http://br.kekanto.com/biz/auto-pecas-venancio" class="social kekanto"></a>
			<br>
			{{::email}}<br>
			Estrada Guandu do Sapê, 1.467 - Campo Grande - RJ Tel:. {{tel[0]}} ID:. {{tel[1]}}
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
		<script src="assets/js/app.js"></script>
	</body>
</html>